@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap');

* {
    box-sizing:border-box;
    margin:0; 
    padding:0; 
  }


body {
    background-color: #a4d2c7; 
  }

  header {

    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height:20vh; 
    background-color: #9e3b3b;
}


header p {
color: white;
}

.intro { 
  margin:auto; 
  width: 100%;
  display: flex;
  justify-content: center;
  color:white; 
  
  }

  h1 {
  color:white; 
  text-align:center; 
  font-family: 'Mountains of Christmas', cursive;
  font-size: 36px;
  padding:10px;
}

.section1 {
  margin:auto; 
  display: flex; 
  justify-content: space-around;
  width:100%; 
  height:70vh; 
}

.liste-date {

  width:50%; 
  height:100%; 
  margin:auto; 
  background-image: url('./calendrier.jpg');
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex; 
  justify-content: center;
  flex-direction: column;
}

ul {
  display: flex; 
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width:60%; 
  height:15%; 
  list-style-type: none;
  text-decoration:none; 
  margin-left:18%; 
}


.marqueur:hover {
  border-radius: 30px;
width:40px; 
height:40px; 
border:3px solid white; 
font-size: 36px;
font-weight: bold;
cursor: pointer;
background-color: teal;
  }

.marqueur {
  color:white; 
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  margin: auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

background-color: #d65a5a;
border-radius: 20px;
width:30px; 
height:30px; 
border:3px solid white; 

  }

footer {
    text-align:center; 
    padding:10px; 
    width:100%; 
    font-size: 18px;
  }

#afficher_video {

    margin:auto; 
    width:50%; 
}

#video {

    width:480px; 
    height:340px; 
    margin:auto; 
    

}


